
body {
  
  width: 100%;
  height: 100%;
  text-align: center;
  background: url("https://images.unsplash.com/photo-1503264116251-35a269479413?auto=format&fit=crop&w=1500&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  font-family: 'Lato', sans-serif;
}
 
td {
    border: 1px solid white;
    margin-bottom: 20px;
    color: white;

}
th{
  color: white;

}
#title, #name, #timer, #history{
  color: white;
}

#reset{
  margin-left: 15px;
}


#timer {
  font-size: 50px;
  font-family: 'Lato';
}

h1{
	padding-bottom: 15px;
}
button{
	height: 35px;
	width: 100px;

}
#stopwatch{
	border: 1px solid black;
	padding: 50px;
	margin-bottom: auto;
  margin-top: 20px;
}
p {
  margin: 8px 23px 50px;
}


